body {
	overflow: hidden;
}

div#main {
	height: 720px;
	width: 1280px;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	position: relative;
}

/*.players-1,
.players-2,
.players-3 {
	position: absolute;
	top: 50%;
	margin-top: -167px;
	width: 100%;
}

.players-1,
.players-4 > bcsr-char:nth-child(4) .char-container {
	left: 50%;
	margin-left: -204px;
}

.players-2,
.players-5 > bcsr-char:nth-child(4) .char-container {
	margin-left: 204px;
}*/

.char-container {
	height: 330px;
	width: 390px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: bottom;
	position: relative;
	float: left;
	margin-top: 19px;
	margin-left: 22px;
	border: 1px solid gray;
	border-radius: 10px 10px;
	overflow: hidden;
	background: black;
}

.name {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: black;
	padding-bottom: 3px;
}

.stats {
	font-size: 14px;
	margin: 3px;
}
.stats span {
	font-size: 18px;
	font-weight: bold;
}

.left {
	float: left;
}

.right {
	float: right;
	text-align: right;
}

.blue_madame_zostra .name,
.blue_vivian_lopez .name {
	background-color: #1797C5;
}

.green_brandon_jaspers .name,
.green_peter_akimoto .name {
	background-color: #43A548;
}

.purple_heather_granville .name,
.purple_jenny_leclerc .name {
	background-color: #A64C8D;
}

.red_darrin_flash_williams .name,
.red_ox_bellows .name {
	background-color: #9E2D31;
}

.white_father_rhinehardt .name,
.white_professor_longfellow .name {
	background-color: #EEEBE9;
}

.yellow_missy_dubourde .name,
.yellow_zoe_ingstrom .name {
	background-color: #D6963E;
}

.blue_madame_zostra .char {
	background-image: url(Images/char_blue_madame_zostra.png);
}

.blue_vivian_lopez .char {
	background-image: url(Images/char_blue_vivian_lopez.png);
}

.green_brandon_jaspers .char {
	background-image: url(Images/char_green_brandon_jaspers.png);
}

.green_peter_akimoto .char {
	background-image: url(Images/char_green_peter_akimoto.png);
}

.purple_heather_granville .char {
	background-image: url(Images/char_purple_heather_granville.png);
}

.purple_jenny_leclerc .char {
	background-image: url(Images/char_purple_jenny_leclerc.png);
}

.red_darrin_flash_williams .char {
	background-image: url(Images/char_red_darrin_flash_williams.png);
}

.red_ox_bellows .char {
	background-image: url(Images/char_red_ox_bellows.png);
}

.white_father_rhinehardt .char {
	background-image: url(Images/char_white_father_rhinehardt.png);
}

.white_professor_longfellow .char {
	background-image: url(Images/char_white_professor_longfellow.png);
}

.yellow_missy_dubourde .char {
	background-image: url(Images/char_yellow_missy_dubourde.png);
}

.yellow_zoe_ingstrom .char {
	background-image: url(Images/char_yellow_zoe_ingstrom.png);
}

.blue_madame_zostra .stats .speed.p-3,
.blue_madame_zostra .stats .might.p-4,
.blue_madame_zostra .stats .sanity.p-3,
.blue_madame_zostra .stats .knowledge.p-4,
.blue_vivian_lopez .stats .speed.p-4,
.blue_vivian_lopez .stats .might.p-3,
.blue_vivian_lopez .stats .sanity.p-3,
.blue_vivian_lopez .stats .knowledge.p-4,
.green_brandon_jaspers .stats .speed.p-3,
.green_brandon_jaspers .stats .might.p-4,
.green_brandon_jaspers .stats .sanity.p-4,
.green_brandon_jaspers .stats .knowledge.p-3,
.green_peter_akimoto .stats .speed.p-4,
.green_peter_akimoto .stats .might.p-3,
.green_peter_akimoto .stats .sanity.p-4,
.green_peter_akimoto .stats .knowledge.p-3,
.purple_heather_granville .stats .speed.p-3,
.purple_heather_granville .stats .might.p-3,
.purple_heather_granville .stats .sanity.p-3,
.purple_heather_granville .stats .knowledge.p-5,
.purple_jenny_leclerc .stats .speed.p-4,
.purple_jenny_leclerc .stats .might.p-3,
.purple_jenny_leclerc .stats .sanity.p-5,
.purple_jenny_leclerc .stats .knowledge.p-3,
.red_darrin_flash_williams .stats .speed.p-5,
.red_darrin_flash_williams .stats .might.p-3,
.red_darrin_flash_williams .stats .sanity.p-3,
.red_darrin_flash_williams .stats .knowledge.p-3,
.red_ox_bellows .stats .speed.p-5,
.red_ox_bellows .stats .might.p-3,
.red_ox_bellows .stats .sanity.p-3,
.red_ox_bellows .stats .knowledge.p-3,
.white_father_rhinehardt .stats .speed.p-3,
.white_father_rhinehardt .stats .might.p-3,
.white_father_rhinehardt .stats .sanity.p-5,
.white_father_rhinehardt .stats .knowledge.p-4,
.white_professor_longfellow .stats .speed.p-4,
.white_professor_longfellow .stats .might.p-3,
.white_professor_longfellow .stats .sanity.p-3,
.white_professor_longfellow .stats .knowledge.p-5,
.yellow_missy_dubourde .stats .speed.p-3,
.yellow_missy_dubourde .stats .might.p-4,
.yellow_missy_dubourde .stats .sanity.p-3,
.yellow_missy_dubourde .stats .knowledge.p-4,
.yellow_zoe_ingstrom .stats .speed.p-4,
.yellow_zoe_ingstrom .stats .might.p-4,
.yellow_zoe_ingstrom .stats .sanity.p-3,
.yellow_zoe_ingstrom .stats .knowledge.p-3 {
	color: lightgreen;
}

.reveal-animation.ng-enter, 
.reveal-animation.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.reveal-animation.ng-enter.ng-enter-active, 
.reveal-animation.ng-leave {
    opacity: 1;
    bottom: 0;
    height: 30px;
}
 
.reveal-animation.ng-leave.ng-leave-active,
.reveal-animation.ng-enter {
    opacity: 0;
    bottom: -50px;
    height: 0px;
}