.char {
  width: 306px;
  height: 293.675px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -153px;
}
.char .might {
  width: 39.525px;
  height: 45.9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("Images/pin_might.png");
  position: absolute;
}
.char .speed {
  width: 51px;
  height: 32.725px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("Images/pin_speed.png");
  position: absolute;
}
.char .sanity {
  width: 39.525px;
  height: 45.9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("Images/pin_sanity.png");
  position: absolute;
}
.char .knowledge {
  width: 51px;
  height: 32.725px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("Images/pin_knowledge.png");
  position: absolute;
}
.blue_madame_zostra .char .speed.p-0 {
  left: 34.85px;
  top: 221.425px;
}
.blue_madame_zostra .char .speed.p-1 {
  left: 30.91875px;
  top: 209.365625px;
}
.blue_madame_zostra .char .speed.p-2 {
  left: 26.9875px;
  top: 197.30625px;
}
.blue_madame_zostra .char .speed.p-3 {
  left: 23.05625px;
  top: 185.246875px;
}
.blue_madame_zostra .char .speed.p-4 {
  left: 19.125px;
  top: 173.1875px;
}
.blue_madame_zostra .char .speed.p-5 {
  left: 15.19375px;
  top: 161.128125px;
}
.blue_madame_zostra .char .speed.p-6 {
  left: 11.2625px;
  top: 149.06875px;
}
.blue_madame_zostra .char .speed.p-7 {
  left: 7.33125px;
  top: 137.009375px;
}
.blue_madame_zostra .char .speed.p-8 {
  left: 3.4px;
  top: 124.95px;
}
.blue_madame_zostra .char .might.p-0 {
  left: 23.8px;
  top: 75.65px;
}
.blue_madame_zostra .char .might.p-1 {
  left: 34.053125px;
  top: 68.265625px;
}
.blue_madame_zostra .char .might.p-2 {
  left: 44.30625px;
  top: 60.88125px;
}
.blue_madame_zostra .char .might.p-3 {
  left: 54.559375px;
  top: 53.496875px;
}
.blue_madame_zostra .char .might.p-4 {
  left: 64.8125px;
  top: 46.1125px;
}
.blue_madame_zostra .char .might.p-5 {
  left: 75.065625px;
  top: 38.728125px;
}
.blue_madame_zostra .char .might.p-6 {
  left: 85.31875px;
  top: 31.34375px;
}
.blue_madame_zostra .char .might.p-7 {
  left: 95.571875px;
  top: 23.959375px;
}
.blue_madame_zostra .char .might.p-8 {
  left: 105.825px;
  top: 16.575px;
}
.blue_madame_zostra .char .sanity.p-0 {
  left: 240.125px;
  top: 75.65px;
}
.blue_madame_zostra .char .sanity.p-1 {
  left: 229.871875px;
  top: 68.265625px;
}
.blue_madame_zostra .char .sanity.p-2 {
  left: 219.61875px;
  top: 60.88125px;
}
.blue_madame_zostra .char .sanity.p-3 {
  left: 209.365625px;
  top: 53.496875px;
}
.blue_madame_zostra .char .sanity.p-4 {
  left: 199.1125px;
  top: 46.1125px;
}
.blue_madame_zostra .char .sanity.p-5 {
  left: 188.859375px;
  top: 38.728125px;
}
.blue_madame_zostra .char .sanity.p-6 {
  left: 178.60625px;
  top: 31.34375px;
}
.blue_madame_zostra .char .sanity.p-7 {
  left: 168.353125px;
  top: 23.959375px;
}
.blue_madame_zostra .char .sanity.p-8 {
  left: 158.1px;
  top: 16.575px;
}
.blue_madame_zostra .char .knowledge.p-0 {
  left: 217.6px;
  top: 221.85px;
}
.blue_madame_zostra .char .knowledge.p-1 {
  left: 221.584375px;
  top: 209.684375px;
}
.blue_madame_zostra .char .knowledge.p-2 {
  left: 225.56875px;
  top: 197.51875px;
}
.blue_madame_zostra .char .knowledge.p-3 {
  left: 229.553125px;
  top: 185.353125px;
}
.blue_madame_zostra .char .knowledge.p-4 {
  left: 233.5375px;
  top: 173.1875px;
}
.blue_madame_zostra .char .knowledge.p-5 {
  left: 237.521875px;
  top: 161.021875px;
}
.blue_madame_zostra .char .knowledge.p-6 {
  left: 241.50625px;
  top: 148.85625px;
}
.blue_madame_zostra .char .knowledge.p-7 {
  left: 245.490625px;
  top: 136.690625px;
}
.blue_madame_zostra .char .knowledge.p-8 {
  left: 249.475px;
  top: 124.525px;
}
.blue_vivian_lopez .char .speed.p-0 {
  left: 36.55px;
  top: 221.85px;
}
.blue_vivian_lopez .char .speed.p-1 {
  left: 32.61875px;
  top: 209.790625px;
}
.blue_vivian_lopez .char .speed.p-2 {
  left: 28.6875px;
  top: 197.73125px;
}
.blue_vivian_lopez .char .speed.p-3 {
  left: 24.75625px;
  top: 185.671875px;
}
.blue_vivian_lopez .char .speed.p-4 {
  left: 20.825px;
  top: 173.6125px;
}
.blue_vivian_lopez .char .speed.p-5 {
  left: 16.89375px;
  top: 161.553125px;
}
.blue_vivian_lopez .char .speed.p-6 {
  left: 12.9625px;
  top: 149.49375px;
}
.blue_vivian_lopez .char .speed.p-7 {
  left: 9.03125px;
  top: 137.434375px;
}
.blue_vivian_lopez .char .speed.p-8 {
  left: 5.1px;
  top: 125.375px;
}
.blue_vivian_lopez .char .might.p-0 {
  left: 25.5px;
  top: 74.8px;
}
.blue_vivian_lopez .char .might.p-1 {
  left: 35.7px;
  top: 67.3625px;
}
.blue_vivian_lopez .char .might.p-2 {
  left: 45.9px;
  top: 59.925px;
}
.blue_vivian_lopez .char .might.p-3 {
  left: 56.1px;
  top: 52.4875px;
}
.blue_vivian_lopez .char .might.p-4 {
  left: 66.3px;
  top: 45.05px;
}
.blue_vivian_lopez .char .might.p-5 {
  left: 76.5px;
  top: 37.6125px;
}
.blue_vivian_lopez .char .might.p-6 {
  left: 86.7px;
  top: 30.175px;
}
.blue_vivian_lopez .char .might.p-7 {
  left: 96.9px;
  top: 22.7375px;
}
.blue_vivian_lopez .char .might.p-8 {
  left: 107.1px;
  top: 15.3px;
}
.blue_vivian_lopez .char .sanity.p-0 {
  left: 240.55px;
  top: 75.225px;
}
.blue_vivian_lopez .char .sanity.p-1 {
  left: 230.403125px;
  top: 67.7875px;
}
.blue_vivian_lopez .char .sanity.p-2 {
  left: 220.25625px;
  top: 60.35px;
}
.blue_vivian_lopez .char .sanity.p-3 {
  left: 210.109375px;
  top: 52.9125px;
}
.blue_vivian_lopez .char .sanity.p-4 {
  left: 199.9625px;
  top: 45.475px;
}
.blue_vivian_lopez .char .sanity.p-5 {
  left: 189.815625px;
  top: 38.0375px;
}
.blue_vivian_lopez .char .sanity.p-6 {
  left: 179.66875px;
  top: 30.6px;
}
.blue_vivian_lopez .char .sanity.p-7 {
  left: 169.521875px;
  top: 23.1625px;
}
.blue_vivian_lopez .char .sanity.p-8 {
  left: 159.375px;
  top: 15.725px;
}
.blue_vivian_lopez .char .knowledge.p-0 {
  left: 218.45px;
  top: 221.425px;
}
.blue_vivian_lopez .char .knowledge.p-1 {
  left: 222.4875px;
  top: 209.3125px;
}
.blue_vivian_lopez .char .knowledge.p-2 {
  left: 226.525px;
  top: 197.2px;
}
.blue_vivian_lopez .char .knowledge.p-3 {
  left: 230.5625px;
  top: 185.0875px;
}
.blue_vivian_lopez .char .knowledge.p-4 {
  left: 234.6px;
  top: 172.975px;
}
.blue_vivian_lopez .char .knowledge.p-5 {
  left: 238.6375px;
  top: 160.8625px;
}
.blue_vivian_lopez .char .knowledge.p-6 {
  left: 242.675px;
  top: 148.75px;
}
.blue_vivian_lopez .char .knowledge.p-7 {
  left: 246.7125px;
  top: 136.6375px;
}
.blue_vivian_lopez .char .knowledge.p-8 {
  left: 250.75px;
  top: 124.525px;
}
.green_brandon_jaspers .char .speed.p-0 {
  left: 35.275px;
  top: 220.575px;
}
.green_brandon_jaspers .char .speed.p-1 {
  left: 31.45px;
  top: 208.4625px;
}
.green_brandon_jaspers .char .speed.p-2 {
  left: 27.625px;
  top: 196.35px;
}
.green_brandon_jaspers .char .speed.p-3 {
  left: 23.8px;
  top: 184.2375px;
}
.green_brandon_jaspers .char .speed.p-4 {
  left: 19.975px;
  top: 172.125px;
}
.green_brandon_jaspers .char .speed.p-5 {
  left: 16.15px;
  top: 160.0125px;
}
.green_brandon_jaspers .char .speed.p-6 {
  left: 12.325px;
  top: 147.9px;
}
.green_brandon_jaspers .char .speed.p-7 {
  left: 8.5px;
  top: 135.7875px;
}
.green_brandon_jaspers .char .speed.p-8 {
  left: 4.675px;
  top: 123.675px;
}
.green_brandon_jaspers .char .might.p-0 {
  left: 23.8px;
  top: 73.525px;
}
.green_brandon_jaspers .char .might.p-1 {
  left: 34.053125px;
  top: 66.140625px;
}
.green_brandon_jaspers .char .might.p-2 {
  left: 44.30625px;
  top: 58.75625px;
}
.green_brandon_jaspers .char .might.p-3 {
  left: 54.559375px;
  top: 51.371875px;
}
.green_brandon_jaspers .char .might.p-4 {
  left: 64.8125px;
  top: 43.9875px;
}
.green_brandon_jaspers .char .might.p-5 {
  left: 75.065625px;
  top: 36.603125px;
}
.green_brandon_jaspers .char .might.p-6 {
  left: 85.31875px;
  top: 29.21875px;
}
.green_brandon_jaspers .char .might.p-7 {
  left: 95.571875px;
  top: 21.834375px;
}
.green_brandon_jaspers .char .might.p-8 {
  left: 105.825px;
  top: 14.45px;
}
.green_brandon_jaspers .char .sanity.p-0 {
  left: 240.55px;
  top: 73.525px;
}
.green_brandon_jaspers .char .sanity.p-1 {
  left: 230.296875px;
  top: 66.140625px;
}
.green_brandon_jaspers .char .sanity.p-2 {
  left: 220.04375px;
  top: 58.75625px;
}
.green_brandon_jaspers .char .sanity.p-3 {
  left: 209.790625px;
  top: 51.371875px;
}
.green_brandon_jaspers .char .sanity.p-4 {
  left: 199.5375px;
  top: 43.9875px;
}
.green_brandon_jaspers .char .sanity.p-5 {
  left: 189.284375px;
  top: 36.603125px;
}
.green_brandon_jaspers .char .sanity.p-6 {
  left: 179.03125px;
  top: 29.21875px;
}
.green_brandon_jaspers .char .sanity.p-7 {
  left: 168.778125px;
  top: 21.834375px;
}
.green_brandon_jaspers .char .sanity.p-8 {
  left: 158.525px;
  top: 14.45px;
}
.green_brandon_jaspers .char .knowledge.p-0 {
  left: 218.45px;
  top: 219.725px;
}
.green_brandon_jaspers .char .knowledge.p-1 {
  left: 222.38125px;
  top: 207.6125px;
}
.green_brandon_jaspers .char .knowledge.p-2 {
  left: 226.3125px;
  top: 195.5px;
}
.green_brandon_jaspers .char .knowledge.p-3 {
  left: 230.24375px;
  top: 183.3875px;
}
.green_brandon_jaspers .char .knowledge.p-4 {
  left: 234.175px;
  top: 171.275px;
}
.green_brandon_jaspers .char .knowledge.p-5 {
  left: 238.10625px;
  top: 159.1625px;
}
.green_brandon_jaspers .char .knowledge.p-6 {
  left: 242.0375px;
  top: 147.05px;
}
.green_brandon_jaspers .char .knowledge.p-7 {
  left: 245.96875px;
  top: 134.9375px;
}
.green_brandon_jaspers .char .knowledge.p-8 {
  left: 249.9px;
  top: 122.825px;
}
.green_peter_akimoto .char .speed.p-0 {
  left: 36.975px;
  top: 219.3px;
}
.green_peter_akimoto .char .speed.p-1 {
  left: 32.884375px;
  top: 207.29375px;
}
.green_peter_akimoto .char .speed.p-2 {
  left: 28.79375px;
  top: 195.2875px;
}
.green_peter_akimoto .char .speed.p-3 {
  left: 24.703125px;
  top: 183.28125px;
}
.green_peter_akimoto .char .speed.p-4 {
  left: 20.6125px;
  top: 171.275px;
}
.green_peter_akimoto .char .speed.p-5 {
  left: 16.521875px;
  top: 159.26875px;
}
.green_peter_akimoto .char .speed.p-6 {
  left: 12.43125px;
  top: 147.2625px;
}
.green_peter_akimoto .char .speed.p-7 {
  left: 8.340625px;
  top: 135.25625px;
}
.green_peter_akimoto .char .speed.p-8 {
  left: 4.25px;
  top: 123.25px;
}
.green_peter_akimoto .char .might.p-0 {
  left: 24.225px;
  top: 73.525px;
}
.green_peter_akimoto .char .might.p-1 {
  left: 34.425px;
  top: 66.0875px;
}
.green_peter_akimoto .char .might.p-2 {
  left: 44.625px;
  top: 58.65px;
}
.green_peter_akimoto .char .might.p-3 {
  left: 54.825px;
  top: 51.2125px;
}
.green_peter_akimoto .char .might.p-4 {
  left: 65.025px;
  top: 43.775px;
}
.green_peter_akimoto .char .might.p-5 {
  left: 75.225px;
  top: 36.3375px;
}
.green_peter_akimoto .char .might.p-6 {
  left: 85.425px;
  top: 28.9px;
}
.green_peter_akimoto .char .might.p-7 {
  left: 95.625px;
  top: 21.4625px;
}
.green_peter_akimoto .char .might.p-8 {
  left: 105.825px;
  top: 14.025px;
}
.green_peter_akimoto .char .sanity.p-0 {
  left: 241.4px;
  top: 73.1px;
}
.green_peter_akimoto .char .sanity.p-1 {
  left: 231.146875px;
  top: 65.609375px;
}
.green_peter_akimoto .char .sanity.p-2 {
  left: 220.89375px;
  top: 58.11875px;
}
.green_peter_akimoto .char .sanity.p-3 {
  left: 210.640625px;
  top: 50.628125px;
}
.green_peter_akimoto .char .sanity.p-4 {
  left: 200.3875px;
  top: 43.1375px;
}
.green_peter_akimoto .char .sanity.p-5 {
  left: 190.134375px;
  top: 35.646875px;
}
.green_peter_akimoto .char .sanity.p-6 {
  left: 179.88125px;
  top: 28.15625px;
}
.green_peter_akimoto .char .sanity.p-7 {
  left: 169.628125px;
  top: 20.665625px;
}
.green_peter_akimoto .char .sanity.p-8 {
  left: 159.375px;
  top: 13.175px;
}
.green_peter_akimoto .char .knowledge.p-0 {
  left: 218.875px;
  top: 218.875px;
}
.green_peter_akimoto .char .knowledge.p-1 {
  left: 222.859375px;
  top: 206.815625px;
}
.green_peter_akimoto .char .knowledge.p-2 {
  left: 226.84375px;
  top: 194.75625px;
}
.green_peter_akimoto .char .knowledge.p-3 {
  left: 230.828125px;
  top: 182.696875px;
}
.green_peter_akimoto .char .knowledge.p-4 {
  left: 234.8125px;
  top: 170.6375px;
}
.green_peter_akimoto .char .knowledge.p-5 {
  left: 238.796875px;
  top: 158.578125px;
}
.green_peter_akimoto .char .knowledge.p-6 {
  left: 242.78125px;
  top: 146.51875px;
}
.green_peter_akimoto .char .knowledge.p-7 {
  left: 246.765625px;
  top: 134.459375px;
}
.green_peter_akimoto .char .knowledge.p-8 {
  left: 250.75px;
  top: 122.4px;
}
.purple_heather_granville .char .speed.p-0 {
  left: 37.4px;
  top: 221px;
}
.purple_heather_granville .char .speed.p-1 {
  left: 33.575px;
  top: 208.940625px;
}
.purple_heather_granville .char .speed.p-2 {
  left: 29.75px;
  top: 196.88125px;
}
.purple_heather_granville .char .speed.p-3 {
  left: 25.925px;
  top: 184.821875px;
}
.purple_heather_granville .char .speed.p-4 {
  left: 22.1px;
  top: 172.7625px;
}
.purple_heather_granville .char .speed.p-5 {
  left: 18.275px;
  top: 160.703125px;
}
.purple_heather_granville .char .speed.p-6 {
  left: 14.45px;
  top: 148.64375px;
}
.purple_heather_granville .char .speed.p-7 {
  left: 10.625px;
  top: 136.584375px;
}
.purple_heather_granville .char .speed.p-8 {
  left: 6.8px;
  top: 124.525px;
}
.purple_heather_granville .char .might.p-0 {
  left: 25.5px;
  top: 73.95px;
}
.purple_heather_granville .char .might.p-1 {
  left: 35.753125px;
  top: 66.5125px;
}
.purple_heather_granville .char .might.p-2 {
  left: 46.00625px;
  top: 59.075px;
}
.purple_heather_granville .char .might.p-3 {
  left: 56.259375px;
  top: 51.6375px;
}
.purple_heather_granville .char .might.p-4 {
  left: 66.5125px;
  top: 44.2px;
}
.purple_heather_granville .char .might.p-5 {
  left: 76.765625px;
  top: 36.7625px;
}
.purple_heather_granville .char .might.p-6 {
  left: 87.01875px;
  top: 29.325px;
}
.purple_heather_granville .char .might.p-7 {
  left: 97.271875px;
  top: 21.8875px;
}
.purple_heather_granville .char .might.p-8 {
  left: 107.525px;
  top: 14.45px;
}
.purple_heather_granville .char .sanity.p-0 {
  left: 242.25px;
  top: 73.525px;
}
.purple_heather_granville .char .sanity.p-1 {
  left: 231.996875px;
  top: 66.140625px;
}
.purple_heather_granville .char .sanity.p-2 {
  left: 221.74375px;
  top: 58.75625px;
}
.purple_heather_granville .char .sanity.p-3 {
  left: 211.490625px;
  top: 51.371875px;
}
.purple_heather_granville .char .sanity.p-4 {
  left: 201.2375px;
  top: 43.9875px;
}
.purple_heather_granville .char .sanity.p-5 {
  left: 190.984375px;
  top: 36.603125px;
}
.purple_heather_granville .char .sanity.p-6 {
  left: 180.73125px;
  top: 29.21875px;
}
.purple_heather_granville .char .sanity.p-7 {
  left: 170.478125px;
  top: 21.834375px;
}
.purple_heather_granville .char .sanity.p-8 {
  left: 160.225px;
  top: 14.45px;
}
.purple_heather_granville .char .knowledge.p-0 {
  left: 221.425px;
  top: 218.875px;
}
.purple_heather_granville .char .knowledge.p-1 {
  left: 225.303125px;
  top: 206.709375px;
}
.purple_heather_granville .char .knowledge.p-2 {
  left: 229.18125px;
  top: 194.54375px;
}
.purple_heather_granville .char .knowledge.p-3 {
  left: 233.059375px;
  top: 182.378125px;
}
.purple_heather_granville .char .knowledge.p-4 {
  left: 236.9375px;
  top: 170.2125px;
}
.purple_heather_granville .char .knowledge.p-5 {
  left: 240.815625px;
  top: 158.046875px;
}
.purple_heather_granville .char .knowledge.p-6 {
  left: 244.69375px;
  top: 145.88125px;
}
.purple_heather_granville .char .knowledge.p-7 {
  left: 248.571875px;
  top: 133.715625px;
}
.purple_heather_granville .char .knowledge.p-8 {
  left: 252.45px;
  top: 121.55px;
}
.purple_jenny_leclerc .char .speed.p-0 {
  left: 36.125px;
  top: 221.85px;
}
.purple_jenny_leclerc .char .speed.p-1 {
  left: 32.459375px;
  top: 209.7375px;
}
.purple_jenny_leclerc .char .speed.p-2 {
  left: 28.79375px;
  top: 197.625px;
}
.purple_jenny_leclerc .char .speed.p-3 {
  left: 25.128125px;
  top: 185.5125px;
}
.purple_jenny_leclerc .char .speed.p-4 {
  left: 21.4625px;
  top: 173.4px;
}
.purple_jenny_leclerc .char .speed.p-5 {
  left: 17.796875px;
  top: 161.2875px;
}
.purple_jenny_leclerc .char .speed.p-6 {
  left: 14.13125px;
  top: 149.175px;
}
.purple_jenny_leclerc .char .speed.p-7 {
  left: 10.465625px;
  top: 137.0625px;
}
.purple_jenny_leclerc .char .speed.p-8 {
  left: 6.8px;
  top: 124.95px;
}
.purple_jenny_leclerc .char .might.p-0 {
  left: 25.925px;
  top: 74.8px;
}
.purple_jenny_leclerc .char .might.p-1 {
  left: 36.125px;
  top: 67.415625px;
}
.purple_jenny_leclerc .char .might.p-2 {
  left: 46.325px;
  top: 60.03125px;
}
.purple_jenny_leclerc .char .might.p-3 {
  left: 56.525px;
  top: 52.646875px;
}
.purple_jenny_leclerc .char .might.p-4 {
  left: 66.725px;
  top: 45.2625px;
}
.purple_jenny_leclerc .char .might.p-5 {
  left: 76.925px;
  top: 37.878125px;
}
.purple_jenny_leclerc .char .might.p-6 {
  left: 87.125px;
  top: 30.49375px;
}
.purple_jenny_leclerc .char .might.p-7 {
  left: 97.325px;
  top: 23.109375px;
}
.purple_jenny_leclerc .char .might.p-8 {
  left: 107.525px;
  top: 15.725px;
}
.purple_jenny_leclerc .char .sanity.p-0 {
  left: 241.4px;
  top: 74.8px;
}
.purple_jenny_leclerc .char .sanity.p-1 {
  left: 231.146875px;
  top: 67.415625px;
}
.purple_jenny_leclerc .char .sanity.p-2 {
  left: 220.89375px;
  top: 60.03125px;
}
.purple_jenny_leclerc .char .sanity.p-3 {
  left: 210.640625px;
  top: 52.646875px;
}
.purple_jenny_leclerc .char .sanity.p-4 {
  left: 200.3875px;
  top: 45.2625px;
}
.purple_jenny_leclerc .char .sanity.p-5 {
  left: 190.134375px;
  top: 37.878125px;
}
.purple_jenny_leclerc .char .sanity.p-6 {
  left: 179.88125px;
  top: 30.49375px;
}
.purple_jenny_leclerc .char .sanity.p-7 {
  left: 169.628125px;
  top: 23.109375px;
}
.purple_jenny_leclerc .char .sanity.p-8 {
  left: 159.375px;
  top: 15.725px;
}
.purple_jenny_leclerc .char .knowledge.p-0 {
  left: 221px;
  top: 221.425px;
}
.purple_jenny_leclerc .char .knowledge.p-1 {
  left: 224.825px;
  top: 209.259375px;
}
.purple_jenny_leclerc .char .knowledge.p-2 {
  left: 228.65px;
  top: 197.09375px;
}
.purple_jenny_leclerc .char .knowledge.p-3 {
  left: 232.475px;
  top: 184.928125px;
}
.purple_jenny_leclerc .char .knowledge.p-4 {
  left: 236.3px;
  top: 172.7625px;
}
.purple_jenny_leclerc .char .knowledge.p-5 {
  left: 240.125px;
  top: 160.596875px;
}
.purple_jenny_leclerc .char .knowledge.p-6 {
  left: 243.95px;
  top: 148.43125px;
}
.purple_jenny_leclerc .char .knowledge.p-7 {
  left: 247.775px;
  top: 136.265625px;
}
.purple_jenny_leclerc .char .knowledge.p-8 {
  left: 251.6px;
  top: 124.1px;
}
.red_darrin_flash_williams .char .speed.p-0 {
  left: 36.125px;
  top: 221.425px;
}
.red_darrin_flash_williams .char .speed.p-1 {
  left: 32.19375px;
  top: 209.365625px;
}
.red_darrin_flash_williams .char .speed.p-2 {
  left: 28.2625px;
  top: 197.30625px;
}
.red_darrin_flash_williams .char .speed.p-3 {
  left: 24.33125px;
  top: 185.246875px;
}
.red_darrin_flash_williams .char .speed.p-4 {
  left: 20.4px;
  top: 173.1875px;
}
.red_darrin_flash_williams .char .speed.p-5 {
  left: 16.46875px;
  top: 161.128125px;
}
.red_darrin_flash_williams .char .speed.p-6 {
  left: 12.5375px;
  top: 149.06875px;
}
.red_darrin_flash_williams .char .speed.p-7 {
  left: 8.60625px;
  top: 137.009375px;
}
.red_darrin_flash_williams .char .speed.p-8 {
  left: 4.675px;
  top: 124.95px;
}
.red_darrin_flash_williams .char .might.p-0 {
  left: 24.65px;
  top: 73.95px;
}
.red_darrin_flash_williams .char .might.p-1 {
  left: 34.95625px;
  top: 66.565625px;
}
.red_darrin_flash_williams .char .might.p-2 {
  left: 45.2625px;
  top: 59.18125px;
}
.red_darrin_flash_williams .char .might.p-3 {
  left: 55.56875px;
  top: 51.796875px;
}
.red_darrin_flash_williams .char .might.p-4 {
  left: 65.875px;
  top: 44.4125px;
}
.red_darrin_flash_williams .char .might.p-5 {
  left: 76.18125px;
  top: 37.028125px;
}
.red_darrin_flash_williams .char .might.p-6 {
  left: 86.4875px;
  top: 29.64375px;
}
.red_darrin_flash_williams .char .might.p-7 {
  left: 96.79375px;
  top: 22.259375px;
}
.red_darrin_flash_williams .char .might.p-8 {
  left: 107.1px;
  top: 14.875px;
}
.red_darrin_flash_williams .char .sanity.p-0 {
  left: 241.4px;
  top: 74.375px;
}
.red_darrin_flash_williams .char .sanity.p-1 {
  left: 231.146875px;
  top: 66.9375px;
}
.red_darrin_flash_williams .char .sanity.p-2 {
  left: 220.89375px;
  top: 59.5px;
}
.red_darrin_flash_williams .char .sanity.p-3 {
  left: 210.640625px;
  top: 52.0625px;
}
.red_darrin_flash_williams .char .sanity.p-4 {
  left: 200.3875px;
  top: 44.625px;
}
.red_darrin_flash_williams .char .sanity.p-5 {
  left: 190.134375px;
  top: 37.1875px;
}
.red_darrin_flash_williams .char .sanity.p-6 {
  left: 179.88125px;
  top: 29.75px;
}
.red_darrin_flash_williams .char .sanity.p-7 {
  left: 169.628125px;
  top: 22.3125px;
}
.red_darrin_flash_williams .char .sanity.p-8 {
  left: 159.375px;
  top: 14.875px;
}
.red_darrin_flash_williams .char .knowledge.p-0 {
  left: 219.3px;
  top: 221.85px;
}
.red_darrin_flash_williams .char .knowledge.p-1 {
  left: 223.23125px;
  top: 209.684375px;
}
.red_darrin_flash_williams .char .knowledge.p-2 {
  left: 227.1625px;
  top: 197.51875px;
}
.red_darrin_flash_williams .char .knowledge.p-3 {
  left: 231.09375px;
  top: 185.353125px;
}
.red_darrin_flash_williams .char .knowledge.p-4 {
  left: 235.025px;
  top: 173.1875px;
}
.red_darrin_flash_williams .char .knowledge.p-5 {
  left: 238.95625px;
  top: 161.021875px;
}
.red_darrin_flash_williams .char .knowledge.p-6 {
  left: 242.8875px;
  top: 148.85625px;
}
.red_darrin_flash_williams .char .knowledge.p-7 {
  left: 246.81875px;
  top: 136.690625px;
}
.red_darrin_flash_williams .char .knowledge.p-8 {
  left: 250.75px;
  top: 124.525px;
}
.red_ox_bellows .char .speed.p-0 {
  left: 37.4px;
  top: 220.15px;
}
.red_ox_bellows .char .speed.p-1 {
  left: 33.309375px;
  top: 208.14375px;
}
.red_ox_bellows .char .speed.p-2 {
  left: 29.21875px;
  top: 196.1375px;
}
.red_ox_bellows .char .speed.p-3 {
  left: 25.128125px;
  top: 184.13125px;
}
.red_ox_bellows .char .speed.p-4 {
  left: 21.0375px;
  top: 172.125px;
}
.red_ox_bellows .char .speed.p-5 {
  left: 16.946875px;
  top: 160.11875px;
}
.red_ox_bellows .char .speed.p-6 {
  left: 12.85625px;
  top: 148.1125px;
}
.red_ox_bellows .char .speed.p-7 {
  left: 8.765625px;
  top: 136.10625px;
}
.red_ox_bellows .char .speed.p-8 {
  left: 4.675px;
  top: 124.1px;
}
.red_ox_bellows .char .might.p-0 {
  left: 24.65px;
  top: 74.8px;
}
.red_ox_bellows .char .might.p-1 {
  left: 34.796875px;
  top: 67.415625px;
}
.red_ox_bellows .char .might.p-2 {
  left: 44.94375px;
  top: 60.03125px;
}
.red_ox_bellows .char .might.p-3 {
  left: 55.090625px;
  top: 52.646875px;
}
.red_ox_bellows .char .might.p-4 {
  left: 65.2375px;
  top: 45.2625px;
}
.red_ox_bellows .char .might.p-5 {
  left: 75.384375px;
  top: 37.878125px;
}
.red_ox_bellows .char .might.p-6 {
  left: 85.53125px;
  top: 30.49375px;
}
.red_ox_bellows .char .might.p-7 {
  left: 95.678125px;
  top: 23.109375px;
}
.red_ox_bellows .char .might.p-8 {
  left: 105.825px;
  top: 15.725px;
}
.red_ox_bellows .char .sanity.p-0 {
  left: 239.275px;
  top: 74.375px;
}
.red_ox_bellows .char .sanity.p-1 {
  left: 229.075px;
  top: 66.884375px;
}
.red_ox_bellows .char .sanity.p-2 {
  left: 218.875px;
  top: 59.39375px;
}
.red_ox_bellows .char .sanity.p-3 {
  left: 208.675px;
  top: 51.903125px;
}
.red_ox_bellows .char .sanity.p-4 {
  left: 198.475px;
  top: 44.4125px;
}
.red_ox_bellows .char .sanity.p-5 {
  left: 188.275px;
  top: 36.921875px;
}
.red_ox_bellows .char .sanity.p-6 {
  left: 178.075px;
  top: 29.43125px;
}
.red_ox_bellows .char .sanity.p-7 {
  left: 167.875px;
  top: 21.940625px;
}
.red_ox_bellows .char .sanity.p-8 {
  left: 157.675px;
  top: 14.45px;
}
.red_ox_bellows .char .knowledge.p-0 {
  left: 217.6px;
  top: 220.575px;
}
.red_ox_bellows .char .knowledge.p-1 {
  left: 221.6375px;
  top: 208.4625px;
}
.red_ox_bellows .char .knowledge.p-2 {
  left: 225.675px;
  top: 196.35px;
}
.red_ox_bellows .char .knowledge.p-3 {
  left: 229.7125px;
  top: 184.2375px;
}
.red_ox_bellows .char .knowledge.p-4 {
  left: 233.75px;
  top: 172.125px;
}
.red_ox_bellows .char .knowledge.p-5 {
  left: 237.7875px;
  top: 160.0125px;
}
.red_ox_bellows .char .knowledge.p-6 {
  left: 241.825px;
  top: 147.9px;
}
.red_ox_bellows .char .knowledge.p-7 {
  left: 245.8625px;
  top: 135.7875px;
}
.red_ox_bellows .char .knowledge.p-8 {
  left: 249.9px;
  top: 123.675px;
}
.white_father_rhinehardt .char .speed.p-0 {
  left: 36.975px;
  top: 225.675px;
}
.white_father_rhinehardt .char .speed.p-1 {
  left: 33.15px;
  top: 213.5625px;
}
.white_father_rhinehardt .char .speed.p-2 {
  left: 29.325px;
  top: 201.45px;
}
.white_father_rhinehardt .char .speed.p-3 {
  left: 25.5px;
  top: 189.3375px;
}
.white_father_rhinehardt .char .speed.p-4 {
  left: 21.675px;
  top: 177.225px;
}
.white_father_rhinehardt .char .speed.p-5 {
  left: 17.85px;
  top: 165.1125px;
}
.white_father_rhinehardt .char .speed.p-6 {
  left: 14.025px;
  top: 153px;
}
.white_father_rhinehardt .char .speed.p-7 {
  left: 10.2px;
  top: 140.8875px;
}
.white_father_rhinehardt .char .speed.p-8 {
  left: 6.375px;
  top: 128.775px;
}
.white_father_rhinehardt .char .might.p-0 {
  left: 25.075px;
  top: 78.2px;
}
.white_father_rhinehardt .char .might.p-1 {
  left: 35.328125px;
  top: 70.815625px;
}
.white_father_rhinehardt .char .might.p-2 {
  left: 45.58125px;
  top: 63.43125px;
}
.white_father_rhinehardt .char .might.p-3 {
  left: 55.834375px;
  top: 56.046875px;
}
.white_father_rhinehardt .char .might.p-4 {
  left: 66.0875px;
  top: 48.6625px;
}
.white_father_rhinehardt .char .might.p-5 {
  left: 76.340625px;
  top: 41.278125px;
}
.white_father_rhinehardt .char .might.p-6 {
  left: 86.59375px;
  top: 33.89375px;
}
.white_father_rhinehardt .char .might.p-7 {
  left: 96.846875px;
  top: 26.509375px;
}
.white_father_rhinehardt .char .might.p-8 {
  left: 107.1px;
  top: 19.125px;
}
.white_father_rhinehardt .char .sanity.p-0 {
  left: 241.825px;
  top: 77.775px;
}
.white_father_rhinehardt .char .sanity.p-1 {
  left: 231.51875px;
  top: 70.390625px;
}
.white_father_rhinehardt .char .sanity.p-2 {
  left: 221.2125px;
  top: 63.00625px;
}
.white_father_rhinehardt .char .sanity.p-3 {
  left: 210.90625px;
  top: 55.621875px;
}
.white_father_rhinehardt .char .sanity.p-4 {
  left: 200.6px;
  top: 48.2375px;
}
.white_father_rhinehardt .char .sanity.p-5 {
  left: 190.29375px;
  top: 40.853125px;
}
.white_father_rhinehardt .char .sanity.p-6 {
  left: 179.9875px;
  top: 33.46875px;
}
.white_father_rhinehardt .char .sanity.p-7 {
  left: 169.68125px;
  top: 26.084375px;
}
.white_father_rhinehardt .char .sanity.p-8 {
  left: 159.375px;
  top: 18.7px;
}
.white_father_rhinehardt .char .knowledge.p-0 {
  left: 220.15px;
  top: 223.975px;
}
.white_father_rhinehardt .char .knowledge.p-1 {
  left: 223.975px;
  top: 211.809375px;
}
.white_father_rhinehardt .char .knowledge.p-2 {
  left: 227.8px;
  top: 199.64375px;
}
.white_father_rhinehardt .char .knowledge.p-3 {
  left: 231.625px;
  top: 187.478125px;
}
.white_father_rhinehardt .char .knowledge.p-4 {
  left: 235.45px;
  top: 175.3125px;
}
.white_father_rhinehardt .char .knowledge.p-5 {
  left: 239.275px;
  top: 163.146875px;
}
.white_father_rhinehardt .char .knowledge.p-6 {
  left: 243.1px;
  top: 150.98125px;
}
.white_father_rhinehardt .char .knowledge.p-7 {
  left: 246.925px;
  top: 138.815625px;
}
.white_father_rhinehardt .char .knowledge.p-8 {
  left: 250.75px;
  top: 126.65px;
}
.white_professor_longfellow .char .speed.p-0 {
  left: 36.125px;
  top: 221px;
}
.white_professor_longfellow .char .speed.p-1 {
  left: 32.3px;
  top: 208.8875px;
}
.white_professor_longfellow .char .speed.p-2 {
  left: 28.475px;
  top: 196.775px;
}
.white_professor_longfellow .char .speed.p-3 {
  left: 24.65px;
  top: 184.6625px;
}
.white_professor_longfellow .char .speed.p-4 {
  left: 20.825px;
  top: 172.55px;
}
.white_professor_longfellow .char .speed.p-5 {
  left: 17px;
  top: 160.4375px;
}
.white_professor_longfellow .char .speed.p-6 {
  left: 13.175px;
  top: 148.325px;
}
.white_professor_longfellow .char .speed.p-7 {
  left: 9.35px;
  top: 136.2125px;
}
.white_professor_longfellow .char .speed.p-8 {
  left: 5.525px;
  top: 124.1px;
}
.white_professor_longfellow .char .might.p-0 {
  left: 25.5px;
  top: 73.95px;
}
.white_professor_longfellow .char .might.p-1 {
  left: 35.753125px;
  top: 66.5125px;
}
.white_professor_longfellow .char .might.p-2 {
  left: 46.00625px;
  top: 59.075px;
}
.white_professor_longfellow .char .might.p-3 {
  left: 56.259375px;
  top: 51.6375px;
}
.white_professor_longfellow .char .might.p-4 {
  left: 66.5125px;
  top: 44.2px;
}
.white_professor_longfellow .char .might.p-5 {
  left: 76.765625px;
  top: 36.7625px;
}
.white_professor_longfellow .char .might.p-6 {
  left: 87.01875px;
  top: 29.325px;
}
.white_professor_longfellow .char .might.p-7 {
  left: 97.271875px;
  top: 21.8875px;
}
.white_professor_longfellow .char .might.p-8 {
  left: 107.525px;
  top: 14.45px;
}
.white_professor_longfellow .char .sanity.p-0 {
  left: 241.4px;
  top: 74.8px;
}
.white_professor_longfellow .char .sanity.p-1 {
  left: 231.09375px;
  top: 67.3625px;
}
.white_professor_longfellow .char .sanity.p-2 {
  left: 220.7875px;
  top: 59.925px;
}
.white_professor_longfellow .char .sanity.p-3 {
  left: 210.48125px;
  top: 52.4875px;
}
.white_professor_longfellow .char .sanity.p-4 {
  left: 200.175px;
  top: 45.05px;
}
.white_professor_longfellow .char .sanity.p-5 {
  left: 189.86875px;
  top: 37.6125px;
}
.white_professor_longfellow .char .sanity.p-6 {
  left: 179.5625px;
  top: 30.175px;
}
.white_professor_longfellow .char .sanity.p-7 {
  left: 169.25625px;
  top: 22.7375px;
}
.white_professor_longfellow .char .sanity.p-8 {
  left: 158.95px;
  top: 15.3px;
}
.white_professor_longfellow .char .knowledge.p-0 {
  left: 219.725px;
  top: 221.425px;
}
.white_professor_longfellow .char .knowledge.p-1 {
  left: 223.603125px;
  top: 209.259375px;
}
.white_professor_longfellow .char .knowledge.p-2 {
  left: 227.48125px;
  top: 197.09375px;
}
.white_professor_longfellow .char .knowledge.p-3 {
  left: 231.359375px;
  top: 184.928125px;
}
.white_professor_longfellow .char .knowledge.p-4 {
  left: 235.2375px;
  top: 172.7625px;
}
.white_professor_longfellow .char .knowledge.p-5 {
  left: 239.115625px;
  top: 160.596875px;
}
.white_professor_longfellow .char .knowledge.p-6 {
  left: 242.99375px;
  top: 148.43125px;
}
.white_professor_longfellow .char .knowledge.p-7 {
  left: 246.871875px;
  top: 136.265625px;
}
.white_professor_longfellow .char .knowledge.p-8 {
  left: 250.75px;
  top: 124.1px;
}
.yellow_missy_dubourde .char .speed.p-0 {
  left: 35.7px;
  top: 218.875px;
}
.yellow_missy_dubourde .char .speed.p-1 {
  left: 31.6625px;
  top: 206.86875px;
}
.yellow_missy_dubourde .char .speed.p-2 {
  left: 27.625px;
  top: 194.8625px;
}
.yellow_missy_dubourde .char .speed.p-3 {
  left: 23.5875px;
  top: 182.85625px;
}
.yellow_missy_dubourde .char .speed.p-4 {
  left: 19.55px;
  top: 170.85px;
}
.yellow_missy_dubourde .char .speed.p-5 {
  left: 15.5125px;
  top: 158.84375px;
}
.yellow_missy_dubourde .char .speed.p-6 {
  left: 11.475px;
  top: 146.8375px;
}
.yellow_missy_dubourde .char .speed.p-7 {
  left: 7.4375px;
  top: 134.83125px;
}
.yellow_missy_dubourde .char .speed.p-8 {
  left: 3.4px;
  top: 122.825px;
}
.yellow_missy_dubourde .char .might.p-0 {
  left: 23.375px;
  top: 71.825px;
}
.yellow_missy_dubourde .char .might.p-1 {
  left: 33.575px;
  top: 64.334375px;
}
.yellow_missy_dubourde .char .might.p-2 {
  left: 43.775px;
  top: 56.84375px;
}
.yellow_missy_dubourde .char .might.p-3 {
  left: 53.975px;
  top: 49.353125px;
}
.yellow_missy_dubourde .char .might.p-4 {
  left: 64.175px;
  top: 41.8625px;
}
.yellow_missy_dubourde .char .might.p-5 {
  left: 74.375px;
  top: 34.371875px;
}
.yellow_missy_dubourde .char .might.p-6 {
  left: 84.575px;
  top: 26.88125px;
}
.yellow_missy_dubourde .char .might.p-7 {
  left: 94.775px;
  top: 19.390625px;
}
.yellow_missy_dubourde .char .might.p-8 {
  left: 104.975px;
  top: 11.9px;
}
.yellow_missy_dubourde .char .sanity.p-0 {
  left: 240.125px;
  top: 71.4px;
}
.yellow_missy_dubourde .char .sanity.p-1 {
  left: 229.925px;
  top: 63.909375px;
}
.yellow_missy_dubourde .char .sanity.p-2 {
  left: 219.725px;
  top: 56.41875px;
}
.yellow_missy_dubourde .char .sanity.p-3 {
  left: 209.525px;
  top: 48.928125px;
}
.yellow_missy_dubourde .char .sanity.p-4 {
  left: 199.325px;
  top: 41.4375px;
}
.yellow_missy_dubourde .char .sanity.p-5 {
  left: 189.125px;
  top: 33.946875px;
}
.yellow_missy_dubourde .char .sanity.p-6 {
  left: 178.925px;
  top: 26.45625px;
}
.yellow_missy_dubourde .char .sanity.p-7 {
  left: 168.725px;
  top: 18.965625px;
}
.yellow_missy_dubourde .char .sanity.p-8 {
  left: 158.525px;
  top: 11.475px;
}
.yellow_missy_dubourde .char .knowledge.p-0 {
  left: 217.6px;
  top: 218.45px;
}
.yellow_missy_dubourde .char .knowledge.p-1 {
  left: 221.584375px;
  top: 206.3375px;
}
.yellow_missy_dubourde .char .knowledge.p-2 {
  left: 225.56875px;
  top: 194.225px;
}
.yellow_missy_dubourde .char .knowledge.p-3 {
  left: 229.553125px;
  top: 182.1125px;
}
.yellow_missy_dubourde .char .knowledge.p-4 {
  left: 233.5375px;
  top: 170px;
}
.yellow_missy_dubourde .char .knowledge.p-5 {
  left: 237.521875px;
  top: 157.8875px;
}
.yellow_missy_dubourde .char .knowledge.p-6 {
  left: 241.50625px;
  top: 145.775px;
}
.yellow_missy_dubourde .char .knowledge.p-7 {
  left: 245.490625px;
  top: 133.6625px;
}
.yellow_missy_dubourde .char .knowledge.p-8 {
  left: 249.475px;
  top: 121.55px;
}
.yellow_zoe_ingstrom .char .speed.p-0 {
  left: 36.55px;
  top: 217.175px;
}
.yellow_zoe_ingstrom .char .speed.p-1 {
  left: 32.565625px;
  top: 205.16875px;
}
.yellow_zoe_ingstrom .char .speed.p-2 {
  left: 28.58125px;
  top: 193.1625px;
}
.yellow_zoe_ingstrom .char .speed.p-3 {
  left: 24.596875px;
  top: 181.15625px;
}
.yellow_zoe_ingstrom .char .speed.p-4 {
  left: 20.6125px;
  top: 169.15px;
}
.yellow_zoe_ingstrom .char .speed.p-5 {
  left: 16.628125px;
  top: 157.14375px;
}
.yellow_zoe_ingstrom .char .speed.p-6 {
  left: 12.64375px;
  top: 145.1375px;
}
.yellow_zoe_ingstrom .char .speed.p-7 {
  left: 8.659375px;
  top: 133.13125px;
}
.yellow_zoe_ingstrom .char .speed.p-8 {
  left: 4.675px;
  top: 121.125px;
}
.yellow_zoe_ingstrom .char .might.p-0 {
  left: 24.225px;
  top: 71.825px;
}
.yellow_zoe_ingstrom .char .might.p-1 {
  left: 34.425px;
  top: 64.3875px;
}
.yellow_zoe_ingstrom .char .might.p-2 {
  left: 44.625px;
  top: 56.95px;
}
.yellow_zoe_ingstrom .char .might.p-3 {
  left: 54.825px;
  top: 49.5125px;
}
.yellow_zoe_ingstrom .char .might.p-4 {
  left: 65.025px;
  top: 42.075px;
}
.yellow_zoe_ingstrom .char .might.p-5 {
  left: 75.225px;
  top: 34.6375px;
}
.yellow_zoe_ingstrom .char .might.p-6 {
  left: 85.425px;
  top: 27.2px;
}
.yellow_zoe_ingstrom .char .might.p-7 {
  left: 95.625px;
  top: 19.7625px;
}
.yellow_zoe_ingstrom .char .might.p-8 {
  left: 105.825px;
  top: 12.325px;
}
.yellow_zoe_ingstrom .char .sanity.p-0 {
  left: 240.975px;
  top: 70.55px;
}
.yellow_zoe_ingstrom .char .sanity.p-1 {
  left: 230.721875px;
  top: 63.1125px;
}
.yellow_zoe_ingstrom .char .sanity.p-2 {
  left: 220.46875px;
  top: 55.675px;
}
.yellow_zoe_ingstrom .char .sanity.p-3 {
  left: 210.215625px;
  top: 48.2375px;
}
.yellow_zoe_ingstrom .char .sanity.p-4 {
  left: 199.9625px;
  top: 40.8px;
}
.yellow_zoe_ingstrom .char .sanity.p-5 {
  left: 189.709375px;
  top: 33.3625px;
}
.yellow_zoe_ingstrom .char .sanity.p-6 {
  left: 179.45625px;
  top: 25.925px;
}
.yellow_zoe_ingstrom .char .sanity.p-7 {
  left: 169.203125px;
  top: 18.4875px;
}
.yellow_zoe_ingstrom .char .sanity.p-8 {
  left: 158.95px;
  top: 11.05px;
}
.yellow_zoe_ingstrom .char .knowledge.p-0 {
  left: 218.875px;
  top: 217.6px;
}
.yellow_zoe_ingstrom .char .knowledge.p-1 {
  left: 222.80625px;
  top: 205.434375px;
}
.yellow_zoe_ingstrom .char .knowledge.p-2 {
  left: 226.7375px;
  top: 193.26875px;
}
.yellow_zoe_ingstrom .char .knowledge.p-3 {
  left: 230.66875px;
  top: 181.103125px;
}
.yellow_zoe_ingstrom .char .knowledge.p-4 {
  left: 234.6px;
  top: 168.9375px;
}
.yellow_zoe_ingstrom .char .knowledge.p-5 {
  left: 238.53125px;
  top: 156.771875px;
}
.yellow_zoe_ingstrom .char .knowledge.p-6 {
  left: 242.4625px;
  top: 144.60625px;
}
.yellow_zoe_ingstrom .char .knowledge.p-7 {
  left: 246.39375px;
  top: 132.440625px;
}
.yellow_zoe_ingstrom .char .knowledge.p-8 {
  left: 250.325px;
  top: 120.275px;
}
/*# sourceMappingURL=pinPos.css.map */