body {
    overflow: hidden;
}

main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #000000;
    font-family: Verdana, Geneva, sans-serif;
}