<div class="player-container" [ngClass]="player.char">
  <div *ngIf="player.char && player.char.length > 0">
      <div class="name">{{ player.name }}</div>
      <div class="stats left">
          Might: <span class="might" [ngClass]="{ 'init': isInit('might') }">{{ getStat('might') }}</span><br />
          Speed: <span class="speed" [ngClass]="{ 'init': isInit('speed') }">{{ getStat('speed') }}</span>
      </div>
      <div class="stats right">
          Sanity: <span class="sanity" [ngClass]="{ 'init': isInit('sanity') }">{{ getStat('sanity') }}</span><br />
          Knowledge: <span class="knowledge" [ngClass]="{ 'init': isInit('knowledge') }">{{ getStat('knowledge') }}</span>
      </div>
  </div>
  <div class="char" *ngIf="player.char && player.char.length > 0">
      <div class="might" [ngClass]="getClass(player.might)"></div>
      <div class="speed" [ngClass]="getClass(player.speed)"></div>
      <div class="sanity" [ngClass]="getClass(player.sanity)"></div>
      <div class="knowledge" [ngClass]="getClass(player.knowledge)"></div>
  </div>
</div>