<div>
  Index: <input id="index" type="number" [(ngModel)]="i" min="0" max="5">
  Name: <input id="text" type="text" [(ngModel)]="player.name">
  Char: <select [(ngModel)]="player.char">
    <option value="blue_madame_zostra">blue_madame_zostra</option>
    <option value="blue_vivian_lopez">blue_vivian_lopez</option>
    <option value="green_brandon_jaspers">green_brandon_jaspers</option>
    <option value="green_peter_akimoto">green_peter_akimoto</option>
    <option value="purple_heather_granville">purple_heather_granville</option>
    <option value="purple_jenny_leclerc">purple_jenny_leclerc</option>
    <option value="red_darrin_flash_williams">red_darrin_flash_williams</option>
    <option value="red_ox_bellows">red_ox_bellows</option>
    <option value="white_father_rhinehardt">white_father_rhinehardt</option>
    <option value="white_professor_longfellow">white_professor_longfellow</option>
    <option value="yellow_missy_dubourde">yellow_missy_dubourde</option>
    <option value="yellow_zoe_ingstrom">yellow_zoe_ingstrom</option>
  </select>
  Might: <input id="index" type="number" [(ngModel)]="player.might" min="0" max="8">
  Speed: <input id="index" type="number" [(ngModel)]="player.speed" min="0" max="8">
  Sanity: <input id="index" type="number" [(ngModel)]="player.sanity" min="0" max="8">
  Knowledge: <input id="index" type="number" [(ngModel)]="player.knowledge" min="0" max="8">
</div>